style: github
template: CHANGELOG.tpl.md
info:
  title: CHANGELOG
  repository_url: https://github.com/maxrantil/protonvpn-manager

options:
  commits:
    filters:
      Type:
        - feat
        - fix
        - perf
        - refactor
        - docs
        - test
        - chore
        - style
        - ci
        - build
        - revert
  commit_groups:
    title_maps:
      feat: Features
      fix: Bug Fixes
      perf: Performance Improvements
      refactor: Code Refactoring
      docs: Documentation
      test: Tests
      chore: Chores
      style: Styles
      ci: CI/CD
      build: Build System
      revert: Reverts
  header:
    pattern: "^(\\w+)(?:\\(([\\w\\-\\.]+)\\))?!?:\\s(.+)$"
    pattern_maps:
      - Type
      - Scope
      - Subject
  notes:
    keywords:
      - BREAKING CHANGE
      - BREAKING
  refs:
    actions:
      - Closes
      - Fixes
      - Resolves
